.slider-widget {
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    border-radius: 0;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    z-index: 1;

    &.has-controls {
      padding-bottom: calc(23px + 1rem);
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 1.5rem;
    }
  }

  /* carousel controls colors
  ======================================================= */
  --control-color: var(--text-color);

  &:has(.active.carousel-item.bg-primary) {
    --control-color: var(--bs-primary-text-color);
  }
  &:has(.active.carousel-item.bg-secondary) {
    --control-color: var(--bs-secondary-text-color);
  }
  &:has(.active.carousel-item.bg-danger),
  &:has(.active.carousel-item.bg-dark-grey),
  &:has(.active.carousel-item.bg-info),
  &:has(.active.carousel-item.bg-success) {
    --control-color: var(--light-text-color);
  }
  &:has(.active.carousel-item.bg-light-grey),
  &:has(.active.carousel-item.bg-middle-grey),
  &:has(.active.carousel-item.bg-warning),
  &:has(.active.carousel-item.bg-white) {
    --control-color: var(--dark-text-color);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    // Hide the SVG and replace by its drop-shadow clone:
    filter: drop-shadow(100vw 0 0 var(--control-color));
    transform: translateX(-100vw);
  }

  .carousel-indicators [data-bs-target] {
    background-color: var(--control-color);
  }

  // Bugfix for https://github.com/react-bootstrap/react-bootstrap/issues/5811
  &.carousel-fade {
    @media (prefers-reduced-motion: reduce) {
      .carousel-item-start,
      .carousel-item-end {
        transition: all 0.6s ease-in-out;
      }
    }
  }
}
