.slider-widget {
  .slide {
    border-radius: var(--jr-border-radius);
    min-height: 400px;
    overflow: hidden;
    padding: 17px;
    position: relative;
    z-index: 1;

    &.has-controls {
      padding-bottom: 50px;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 17px;
    }
  }
}
