.tick-list-widget {
  margin-bottom: 0.7rem;

  li {
    display: flex;
    align-items: center;

    .icon {
      color: var(--bs-primary);
      margin-right: 0.5rem;
      padding: 0.3rem 0;
    }
  }
}
