/*!
 * grid layout editor - gle
 */

/* -- grid layout editor - previews -- */

.gle-preview-list {
  overflow: hidden;
  margin-bottom: 10px;
}
.gle-preview-group {
  float: left;
  float: left;
  margin: 0 20px 0 0;
}
.gle-preview {
  float: left;
  margin: 3px 6px 3px 0;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  height: 25px;
  width: 40px;
}
.gle-preview.clickable {
  cursor: pointer;
}
.gle-preview.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.gle-preview > [class*='grid-col-'] {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  background: rgba(0, 0, 0, 0.1);
  float: left;
  height: 100%;
  margin: 0 1px;
}

.gle-preview > .grid-col-1 {
  width: calc(8.333333333333332% - 2px);
}
.gle-preview > .grid-col-2 {
  width: calc(16.666666666666664% - 2px);
}
.gle-preview > .grid-col-3 {
  width: calc(25% - 2px);
}
.gle-preview > .grid-col-4 {
  width: calc(33.33333333333333% - 2px);
}
.gle-preview > .grid-col-5 {
  width: calc(41.66666666666667% - 2px);
}
.gle-preview > .grid-col-6 {
  width: calc(50% - 2px);
}
.gle-preview > .grid-col-7 {
  width: calc(58.333333333333336% - 2px);
}
.gle-preview > .grid-col-8 {
  width: calc(66.66666666666666% - 2px);
}
.gle-preview > .grid-col-9 {
  width: calc(75% - 2px);
}
.gle-preview > .grid-col-10 {
  width: calc(83.33333333333334% - 2px);
}
.gle-preview > .grid-col-11 {
  width: calc(91.66666666666666% - 2px);
}
.gle-preview > .grid-col-12 {
  width: calc(100% - 2px);
}

.gle-preview.clickable:hover > [class*='grid-col-'] {
  box-shadow: 0 0 0 1px rgba(#426698, 0.5) inset;
  background: rgba(#426698, 0.3);
}
.gle-preview.active > [class*='grid-col-'] {
  box-shadow: 0 0 0 1px rgba(#426698, 1) inset;
  background: rgba(#426698, 0.6);
}

/* -- grid layout editor - editor -- */

.gle {
  position: relative;
  border: 3px solid #fff;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  height: 50px;
  overflow: hidden;
}
.gle .grid-ruler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 -5px;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.gle:hover .grid-ruler {
  opacity: 1;
}
.gle .grid-ruler .grid-col {
  background: rgba(111, 111, 111, 0.1);
  float: left;
  height: 100%;
  margin: 0 5px;
  width: calc(8.333333333333332% - 10px);
}
.gle .grid-columns {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 -5px;
}
.gle .grid-columns.clickable:hover {
  opacity: 1;
}
.gle .grid-columns > [class*='grid-col-'] {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.2);
  float: left;
  height: 100%;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
}
.gle .grid-columns.clickable:hover > [class*='grid-col-'] {
  border: 2px solid #426698;
}

.gle .grid-columns > .grid-col-1 {
  width: calc(8.333333333333332% - 10px);
}
.gle .grid-columns > .grid-col-2 {
  width: calc(16.666666666666664% - 10px);
}
.gle .grid-columns > .grid-col-3 {
  width: calc(25% - 10px);
}
.gle .grid-columns > .grid-col-4 {
  width: calc(33.33333333333333% - 10px);
}
.gle .grid-columns > .grid-col-5 {
  width: calc(41.66666666666667% - 10px);
}
.gle .grid-columns > .grid-col-6 {
  width: calc(50% - 10px);
}
.gle .grid-columns > .grid-col-7 {
  width: calc(58.333333333333336% - 10px);
}
.gle .grid-columns > .grid-col-8 {
  width: calc(66.66666666666666% - 10px);
}
.gle .grid-columns > .grid-col-9 {
  width: calc(75% - 10px);
}
.gle .grid-columns > .grid-col-10 {
  width: calc(83.33333333333334% - 10px);
}
.gle .grid-columns > .grid-col-11 {
  width: calc(91.66666666666666% - 10px);
}
.gle .grid-columns > .grid-col-12 {
  width: calc(100% - 10px);
}

.gle .grid-columns .grid-handle {
  position: absolute;
  background: #eee;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  border-right: 1px dashed rgba(0, 0, 0, 0.2);
  top: -2px;
  right: -13px;
  bottom: -2px;
  width: 12px;
  z-index: 2;
  transition: all 0.1s ease-in-out;
}
.gle .grid-columns.clickable:hover .grid-handle {
  background: #426698;
  border: none;
}
.gle .grid-columns.clickable:hover .grid-handle:after {
  color: #fff;
}
.gle .grid-columns > [class*='grid-col-']:last-child .grid-handle {
  display: none;
}
.gle .grid-columns .grid-handle:hover {
  top: -6px;
  bottom: -6px;
  cursor: col-resize;
}
.gle .grid-columns .grid-handle:after {
  content: '||';
  color: #aaa;
  font-size: 11px;
  display: block;
  position: absolute;
  top: 48%;
  line-height: 0;
  text-align: center;
  width: 100%;
}
.gle .grid-columns > [class*='grid-col-']:last-child .grid-handle {
  display: none;
}
.gle .grid-columns .grid-handle.grid-handle-plus {
  background: #658b51;
  right: -2px;
  display: block !important;
  border: none;
}
.gle .grid-columns .grid-handle.grid-handle-plus:hover {
  background: #658b51;
}

.gle .grid-columns .grid-handle.grid-handle-plus:after {
  content: '+';
  color: #fff;
  font-size: 16px;
  display: block;
  position: absolute;
  top: 48%;
  line-height: 0;
  text-align: center;
  width: 100%;
}
.gle .grid-columns .grid-handle.grid-handle-plus:hover {
  cursor: pointer;
}
.gle .grid-columns .grid-handle.grid-handle-plus + .grid-label {
  text-indent: -8px;
}

.gle .grid-columns .grid-del {
  border: none;
  width: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  cursor: pointer;
}
.gle .grid-columns .grid-del:after {
  content: '-';
  display: none;
  background: #eee;
  box-shadow: 0 0 0 2px #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 10px;
  border-radius: 0 0 1px 1px;
  font-size: 18px;
  color: #888;
  text-align: center;
  line-height: 8px;
  transition: all 0.1s ease-in-out;
  z-index: 1111;
}
.gle .grid-columns > [class*='grid-col-']:hover .grid-del:after {
  display: block;
}
.gle .grid-columns > [class*='grid-col-'] .grid-del:hover:after {
  background: #aa4040;
  box-shadow: 0 0 0 2px #aa4040;
  color: #fff;
}

.gle .grid-columns .grid-label {
  color: #aaa;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-shadow: 0 1px 2px #fff;
}

// -- small screen adaptions -- //

.gle {
  container-type: inline-size;
}

@container (max-inline-size: 400px) {
  .gle .grid-ruler {
    margin: 0 -0.5px;
  }

  .gle .grid-ruler .grid-col {
    margin: 0 0.5px;
    width: calc(8.333333333333332% - 1px);
  }
  .gle .grid-columns {
    margin: 0 -0.5px;
  }
  .gle .grid-columns > [class*='grid-col-'] {
    margin: 0 0.5px;
  }

  .gle .grid-columns > .grid-col-1 {
    width: calc(8.333333333333332% - 1px);
  }
  .gle .grid-columns > .grid-col-2 {
    width: calc(16.666666666666664% - 1px);
  }
  .gle .grid-columns > .grid-col-3 {
    width: calc(25% - 1px);
  }
  .gle .grid-columns > .grid-col-4 {
    width: calc(33.33333333333333% - 1px);
  }
  .gle .grid-columns > .grid-col-5 {
    width: calc(41.66666666666667% - 1px);
  }
  .gle .grid-columns > .grid-col-6 {
    width: calc(50% - 1px);
  }
  .gle .grid-columns > .grid-col-7 {
    width: calc(58.333333333333336% - 1px);
  }
  .gle .grid-columns > .grid-col-8 {
    width: calc(66.66666666666666% - 1px);
  }
  .gle .grid-columns > .grid-col-9 {
    width: calc(75% - 1px);
  }
  .gle .grid-columns > .grid-col-10 {
    width: calc(83.33333333333334% - 1px);
  }
  .gle .grid-columns > .grid-col-11 {
    width: calc(91.66666666666666% - 1px);
  }
  .gle .grid-columns > .grid-col-12 {
    width: calc(100% - 1px);
  }

  .gle .grid-columns .grid-handle {
    right: -6px;
    width: 5px;
  }
  .gle .grid-columns .grid-handle {
    right: -6px;
    width: 5px;
  }
  .gle .grid-columns .grid-handle.grid-handle-plus {
    width: 6px;
  }
  .gle .grid-columns .grid-handle.grid-handle-plus::after {
    font-size: 12px;
  }
  .gle .grid-columns .grid-handle.grid-handle-plus + .grid-label {
    text-indent: -3px;
  }
  .gle .grid-columns .grid-label {
    font-size: 15px;
  }

  // -- grid-handle adaptions -- //

  .scrivito_dark .gle .grid-columns .grid-handle:not(.grid-handle-plus) {
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    right: -8px;
    box-sizing: content-box;
    background-clip: content-box !important;
  }
}

// -- dark mode -- //

.scrivito_dark {
  .gle-preview {
    border: 2px solid #777;
    background: var(--jr-grey-light-hover);
  }
  .gle-preview.active {
    border: 2px solid #426698;
  }
  .gle-preview > [class*='grid-col-'] {
    background: rgba(0, 0, 0, 0.2);
  }
  .gle-preview.clickable:hover > [class*='grid-col-'] {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.4);
  }
  .gle-preview.active > [class*='grid-col-'] {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.4);
  }
  .gle {
    border: 2px solid #777;
    background: var(--jr-grey-light);
  }
  .gle .grid-ruler {
    opacity: 0.4;
  }
  .gle .grid-ruler .grid-col {
    background: rgba(111, 111, 111, 0.4);
  }
  .gle .grid-columns .grid-handle {
    background: #777;
    border: none !important;
  }

  .gle .grid-columns.clickable:hover .grid-handle {
    background: #426698;
  }
  .gle .grid-columns.clickable .grid-handle.grid-handle-plus:hover {
    background: #658b51;
  }
  .gle .grid-columns.clickable:hover > [class*='grid-col-'] {
    border: 2px solid #426698;
  }
  .gle .grid-columns .grid-label {
    color: #999;
    text-shadow: 0 1px 2px #222;
  }
  .gle .grid-columns .grid-del:after {
    background: #426698;
    box-shadow: 0 0 0 2px #426698;
    color: #fff;
  }
}

// --------------------------------------------------------- //
// gle flex edition
// --------------------------------------------------------- //

.gle.flex-layout {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(222, 222, 222, 0.05) 50%,
    rgba(222, 222, 222, 0.05) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 5px;

  .grid-columns {
    display: flex;
    align-items: start;
    padding: 0 4px;
    &:has(.grid-handle-plus) {
      padding-right: 15px;
    }
  }

  .grid-col,
  .grid-col-grow {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 1px;
    min-width: 33px;
  }
  .grid-col-grow {
    flex-grow: 1;
  }
  .grid-columns .grid-handle.grid-handle-plus {
    right: 5px;
  }

  .grid-button {
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    margin: auto auto -2px auto;
    display: block;
    width: 24px;
    height: 16px;
    min-width: auto;
  }

  .grid-col .grid-button {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEuNSwxM3YtMmgyaDQuMkw0LjgsOC4ybDEuNC0xLjRsNS4yLDUuMmwtNS4yLDUuMmwtMS40LTEuNEw3LjcsMTNIMy41SDEuNXoiLz4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTIwLjUsMTNoLTQuMmwyLjgsMi44bC0xLjQsMS40TDEyLjUsMTJsNS4yLTUuMmwxLjQsMS40TDE2LjMsMTFoNC4yaDJ2MkgyMC41eiIvPgo8L3N2Zz4K')
      #777 no-repeat center center / contain;
    &:hover {
      background-color: #426698;
    }
  }
  .grid-col-grow .grid-button {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTUuMiw2LjhsMS40LDEuNEwzLjgsMTFoMTYuM2wtMi44LTIuOGwxLjQtMS40TDI0LDEybC01LjIsNS4ybC0xLjQtMS40bDIuOC0yLjhIMy44bDIuOCwyLjhsLTEuNCwxLjRMMCwxMgoJTDUuMiw2Ljh6Ii8+Cjwvc3ZnPgo=')
      #777 no-repeat center center / contain;
    &:hover {
      background-color: #426698;
    }
  }
}

// -- dark mode -- //

.scrivito_dark {
  .gle.flex-layout .grid-col,
  .gle.flex-layout .grid-col-grow {
    border: 2px solid rgba(222, 222, 222, 0.2);
  }
}

// -- small screen adaptions -- //

@container (max-inline-size: 400px) {
  .gle.flex-layout .grid-columns .grid-handle.grid-handle-plus {
    right: 0px;
    width: 9px;
  }
  .gle.flex-layout .grid-col,
  .gle.flex-layout .grid-col-grow {
    margin: 0;
  }
  .gle.flex-layout .grid-columns {
    padding: 0;
  }
  .gle.flex-layout .grid-columns:has(.grid-handle-plus) {
    padding-right: 8px;
  }
}
