@mixin srOnly() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.neoletter-form-icon-editor-tab {
  .icon-editor-preview {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 14px 10px 10px 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    display: block;
    width: 60px;
    text-align: center;
    line-height: 1.3em;
    &:hover {
      .button-del {
        opacity: 1;
      }
    }
    .bs-icon {
      font-size: 26px;
      height: 30px;
      display: block;
    }
    .button-del {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      background: #b44040;
      color: #fff;
      font-size: 14px;
      width: 20px;
      height: 20px;
      padding: 0;
      border-radius: 20px;
      line-height: 19px;
      box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.2);
      font-weight: bold;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
  .icon-container {
    button {
      background: transparent;
      border: none;
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      color: #222;
      line-height: 33px;
      padding: 2px 10px;
      border-radius: 4px;
      font-size: 14px;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      .sr-only {
        @include srOnly();
      }
      i,
      .bs-icon {
        margin-right: 10px;
        color: #507ab5;
        font: normal normal normal 14px 'bootstrap-icons';
      }
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &:hover {
        background: #fafafa;
        color: #333;
        text-decoration: none;
        box-shadow:
          0 0 4px 1px rgba(0, 0, 0, 0.1),
          0 0 0 2px #507ab5 inset;
        .bs-icon {
          font-size: 14px;
        }
      }
      &.active {
        background: fff;
        color: #555;
        text-decoration: none;
        box-shadow:
          0 0 4px 1px rgba(0, 0, 0, 0.1),
          0 0 0 2px #507ab5 inset;
      }
    }
  }
}
#neoletter-icon-search {
  position: relative;
  display: flex;
  align-items: center;
  .bs-icon {
    color: #555;
  }
  label {
    position: absolute;
    left: 17px;
  }
  #search-input {
    flex-grow: 1;
    padding: 1px 5px 1px 43px !important;
    border-radius: 23px;
    font-size: 13px;
    line-height: 25px;
    &:focus {
      box-shadow: none;
    }
  }
  #search-clear.bs-icon {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-decoration: none;
    position: absolute;
    right: 10px;
    color: #777;
    &:hover {
      color: #8f8f8f;
    }
  }
  .sr-only {
    @include srOnly();
  }
}

// -- dark mode -- //

.scrivito_dark {
  .neoletter-form-icon-editor-tab .icon-editor-preview {
    background: #5a5a5a;
  }
  .neoletter-form-icon-editor-tab .headline,
  .neoletter-form-icon-editor-tab .icon-editor-preview .bs-icon {
    color: #eee;
  }

  .neoletter-form-icon-editor-tab .icon-editor-preview .button-del {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8);
  }

  #neoletter-icon-search .bs-icon {
    color: #aaa;
  }
  #neoletter-icon-search #search-input {
    background: rgba(222, 222, 222, 0.2);
    border: 1px solid #333;
    color: #ddd;
  }

  input::placeholder {
    color: #999 !important;
  }

  .neoletter-form-icon-editor-tab .icon-container button {
    color: #eee;
    &:hover,
    &:active {
      background: rgba(222, 222, 222, 0.2);
      color: #fff;
      text-decoration: none;
      box-shadow:
        0 0 4px 1px rgba(0, 0, 0, 0.1),
        0 0 0 2px #507ab5 inset;
      .bs-icon {
        font-size: 14px;
      }
    }
    &.active {
      background: rgba(222, 222, 222, 0.1);
      color: #eee;
      text-decoration: none;
      box-shadow:
        0 0 4px 1px rgba(0, 0, 0, 0.1),
        0 0 0 2px #507ab5 inset;
      .bs-icon {
        font-size: 14px;
      }
    }
  }
}

// -- Layout -- //

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  align-content: start;
  gap: 2px;
  margin-top: 2px;
  .icon-container {
    overflow: hidden;
    width: auto;
  }
}

@media (max-width: 450px) {
  .icon-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 300px) {
  .icon-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
