.ai-chat-button {
  background: url(../images/chat-illustration.svg) var(--bs-primary) no-repeat
    center / 70%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  position: fixed;
  right: 30px;
  bottom: 30px;
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 11111;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
  span {
    visibility: hidden;
  }
}

.ai-offcanvas {
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  z-index: $zindex-offcanvas;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 30px);
  color: $offcanvas-color;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-clip: padding-box;
  outline: 0;
  transition: all 0.4s ease-in-out;
  height: calc(100% - 30px);
  margin: 15px;
  border-radius: 10px;
  position: fixed !important;
  z-index: 11112;
}

.ai-offcanvas-header {
  color: var(--bs-primary) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  .ai-offcanvas-title * {
    color: var(--bs-primary);
    margin: 0;
  }
}
.ai-offcanvas-body {
  flex-grow: 1;
  padding: 5px 15px;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.ai-offcanvas-footer {
  border-radius: 0 0 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.ai-offcanvas-end {
  top: 0;
  right: 0;
  transform: translateX(110%);
}

.ai-offcanvas.show {
  transform: none;
}

.ai-offcanvas .input-group {
  background: var(--light-grey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
  &:focus-within {
    box-shadow:
      0 0 0 1px var(--bs-primary),
      0 0 10px -4px var(--bs-primary);
  }
  .form-control {
    border: none;
    resize: none;
    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
  .btn {
    background: transparent;
    border: transparent;
    box-shadow: none;
    i {
      color: var(--bs-primary);
    }
  }
}

/* ai-list-bubble 
 =================================================================== */

.ai-list-bubble {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0 0 25px 0;
  }
  .img-wrapper {
    display: flex;
    flex-direction: column;
    margin: -5px 10px 0 0;
    .badge {
      margin: 0 auto;
    }
    .img-profile {
      background: rgba(255, 255, 255, 0.5);
      object-fit: contain;
      width: 45px;
      height: 45px;
      line-height: 45px;
      object-position: cover;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
  }

  .arrow-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: min-content;
    background: #e4e8f4;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.5);
    p {
      line-height: 1.6;
    }
    p:last-child {
      margin: 0;
    }
    .btn {
      margin-bottom: 10px;
    }
    .btn:last-child {
      margin-bottom: 5px;
    }
  }

  .arrow-box:after {
    right: 100%;
    top: 19px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #e4e8f4;
    border-width: 6px;
    margin-top: -6px;
  }
}

.ai-list-bubble li.right {
  flex-flow: row-reverse;
  .img-wrapper {
    margin: -5px 0 0 10px;
  }
  .arrow-box {
    background: var(--bs-primary);
    p {
      color: #fff;
    }
  }
  .arrow-box:after {
    right: 0;
    left: 100%;
    top: 19px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
  }

  .arrow-box:after {
    border-left-color: var(--bs-primary);
    border-width: 6px;
    margin-top: -6px;
  }
}

@media (max-width: 800px) {
  .ai-offcanvas {
    width: 400px;
  }
}

@media (max-width: 576px) {
  .ai-offcanvas {
    width: 100%;
  }
}
