.box-attachment {
  display: block;
  float: left;
  width: 150px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  a {
    cursor: pointer;

    &:hover {
      background: var(--light-grey);
    }
  }

  .box-preview {
    background: var(--light-grey);
    margin: 3px;
    display: block;
    overflow: hidden;
    height: auto;
    position: relative;
    padding-top: 50%;
  }

  .box-preview img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .box-preview i {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 75px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .box-meta {
    display: flex;
    flex-flow: column;
    padding: 0 5px 5px 5px;
    .box-name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      font-size: 0.85rem;
      line-height: 1.3;
    }
    .box-size {
      display: flex;
      font-size: 0.7rem;
      opacity: 0.7;
    }
  }
}

@media (max-width: 576px) {
  .box-attachment {
    width: 120px;
  }
}
