/* fonts
================================================== */

/* FiraSans Medium 500 */
@font-face {
  font-family: 'Fira Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('../fonts/FiraSans-Medium-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-display: swap;
  font-style: normal;
  src:
    local(''),
    url('../fonts/Manrope-VariableFont_wght.woff2') format('woff2')
      tech('variations'),
    url('../fonts/Manrope-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 200 800;
}
