/* jr buttons
 =================================================================== */

.btn {
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 0 10px;
  padding: 7px 10px 5px 10px;
  min-width: 120px;
  display: inline-flex;
  justify-content: center;
  color: $jr-darkgrey;
  background: #fff;
  box-shadow: 0 0 10px 1px $jr-lightgrey !important;
}

.btn:hover {
  background: darken(#fff, 2%);
}
.btn:active,
.btn:focus {
  background: #fff;
}
.btn:disabled,
.btn.disabled {
  opacity: 0.8;
  background: darken(#fff, 5%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  pointer-events: unset;
}

.btn .jr-icon {
  font-size: 16px;
  margin: auto 5px auto 0;
  line-height: 21px;
}
.btn .jr-icon:only-child {
  margin: auto 0;
}

.input-group .btn {
  min-width: 40px;
}

.btn-sm {
  padding: 5px 7px 3px 7px;
  font-size: 12px;
  min-width: 100px;
  border-radius: 3px;
}

.btn.float-start {
  margin: 0 10px 0 0;
}

.btn-primary {
  color: #fff !important;
  background: $jr-darkgrey;
  border: 1px solid $jr-darkgrey;
}
.btn-primary:hover {
  background: darken($jr-darkgrey, 5%);
  border: 1px solid $jr-darkgrey;
}
.btn-primary:active,
.btn-primary:focus {
  background: lighten($jr-darkgrey, 5%);
  border: 1px solid $jr-darkgrey;
}
.btn-primary:disabled,
.btn-primary.disabled {
  opacity: 0.8;
  background: lighten($jr-darkgrey, 5%);
  border: 1px solid $jr-darkgrey;
}

.btn-outline-success {
  color: $jr-green !important;
  background: #fff;
}
.btn-outline-success:hover {
  color: $jr-green;
  background: darken(#fff, 2%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-success:active,
.btn-outline-success:focus {
  color: $jr-green;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-success:disabled,
.btn-outline-success.disabled {
  opacity: 0.8;
  background: darken(#fff, 5%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-outline-danger {
  color: $jr-red !important;
  background: #fff;
}
.btn-outline-danger:hover {
  color: $jr-red;
  background: darken(#fff, 2%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-danger:active,
.btn-outline-danger:focus {
  color: $jr-red;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
  opacity: 0.8;
  background: darken(#fff, 5%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-success {
  color: #fff !important;
  background: $jr-green;
  border: 1px solid $jr-green;
}
.btn-success:hover {
  background: darken($jr-green, 5%);
  border: 1px solid $jr-green;
}
.btn-success:active,
.btn-success:focus {
  background: lighten($jr-green, 5%);
  border: 1px solid $jr-green;
}
.btn-success:disabled,
.btn-success.disabled {
  opacity: 0.8;
  background: lighten($jr-green, 5%);
  border: 1px solid $jr-green;
}

.btn-danger {
  color: #fff !important;
  background: $jr-red;
  border: 1px solid $jr-red;
}
.btn-danger:hover {
  background: darken($jr-red, 5%);
  border: 1px solid $jr-red;
}
.btn-danger:active,
.btn-danger:focus {
  background: lighten($jr-red, 5%);
  border: 1px solid $jr-red;
}
.btn-danger:disabled,
.btn-danger.disabled {
  opacity: 0.8;
  background: lighten($jr-red, 5%);
  border: 1px solid $jr-red;
}

.btn-outline-orange {
  color: $jr-orange !important;
  background: #fff;
}
.btn-outline-orange:hover {
  color: $jr-orange;
  background: darken(#fff, 2%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-orange:active,
.btn-outline-orange:focus {
  color: $jr-orange;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline-orange:disabled,
.btn-outline-orange.disabled {
  opacity: 0.8;
  background: darken(#fff, 5%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-orange {
  color: #fff !important;
  background: $jr-orange;
  border: 1px solid $jr-orange;
}
.btn-orange:hover {
  background: darken($jr-orange, 5%);
  border: 1px solid $jr-orange;
}
.btn-orange:active,
.btn-orange:focus {
  background: lighten($jr-orange, 5%);
  border: 1px solid $jr-orange;
}
.btn-orange:disabled,
.btn-orange.disabled {
  opacity: 0.8;
  background: lighten($jr-orange, 5%);
  border: 1px solid $jr-orange;
}

.btn-outline-primary:hover {
  color: $jr-darkgrey;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-grey {
  background: darken(#fff, 2%) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.btn-grey:hover {
  background: darken(#fff, 2%);
}
.btn-grey:active,
.btn-grey:focus {
  background: #fff;
}

@media (max-width: $screen-sm-max) {
  .btn {
    min-width: 85px;
  }
}
.btn-addon {
  box-shadow: none !important;
}

[class*='btn-social-'] {
  text-align: left;
  line-height: 28px;
  font-size: 12px !important;
  padding: 3px 10px 1px 10px !important;
}

.btn-social-facebook {
  border-left: 5px solid #4267b2 !important;
  color: #4267b2 !important;
}
.btn-social-twitter {
  border-left: 5px solid #1da1f2 !important;
  color: #1da1f2 !important;
}
.btn-social-google {
  border-left: 5px solid#DB4437 !important;
  color: #db4437 !important;
}
.btn-social-linkedin {
  border-left: 5px solid #2867b2 !important;
  color: #2867b2 !important;
}
.btn-social-github {
  border-left: 5px solid #333 !important;
  color: #333 !important;
}

.btn-social-facebook .jr-icon {
  color: #4267b2;
}
.btn-social-twitter .jr-icon {
  color: #1da1f2;
}
.btn-social-google .jr-icon {
  color: #db4437;
}
.btn-social-linkedin .jr-icon {
  color: #2867b2;
}
.btn-social-github .jr-icon {
  color: #333;
}

/* btn-confirm-group */

.btn-confirm-group {
  min-width: 350px;
  position: relative;
  display: flex;
  justify-content: end;
}

.justify-content-start > .btn {
  margin: 0 10px 0 0;
  float: right;
}

.jr-list-item .btn-confirm-group {
  position: absolute;
  top: 3px;
  right: 10px;
}

.btn-confirm-group .btn {
  min-width: 100px;
}
.btn-confirm-group .btn-confirm-trigger {
  box-shadow: 0 0 10px 5px #fff;
}
.btn-confirm-group .btn-confirm-answer {
  box-shadow: 0 0 10px 5px #fff;
  background: rgba(255, 255, 255, 0.9);
}

/* btn toggle */

.btn-toggle {
  position: relative;
  min-width: 60px;
  padding: 7px 10px 5px 15px;
  border: none;
}
.btn-toggle .badge {
  font-size: 10px;
  margin: 3px 0 0px 4px;
  padding: 0px 3px;
  line-height: 12px;
  height: 15px;
}
.btn-toggle .jr-icon {
  font-size: 11px;
  margin: auto auto auto 10px;
}

.btn-toggle.active .jr-icon {
  transform: rotate(180deg);
}

.btn-toggle.active {
  border-radius: 5px 5px 0 0;
}
.btn-toggle.active:after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  height: 30px;
  background: #fff;
}
.btn-grey.btn-toggle.active:after {
  background: #fafafa;
  left: -1px;
  right: -1px;
  height: 13px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  z-index: 1;
}

@media (max-width: $screen-sm-max) {
  .btn-toggle {
    padding: 7px 8px 5px 8px;
  }
  .btn-toggle .jr-icon {
    font-size: 11px;
    margin: auto auto auto 5px;
  }
}
