/* jr badge + counter
 =================================================================== */

.badge {
  border-radius: 3px;
  border: 1px solid #6e84a3;
  background: #e2e6ed;
  color: #6e84a3;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  text-align: center;
  vertical-align: baseline;
  white-space: normal;
}
.badge.bg-grey {
  border: 1px solid $jr-middlegrey;
  background: #e8e8e8;
  color: $jr-middlegrey;
}
.badge.bg-green {
  border: 1px solid $jr-green;
  background: #ccf7e5;
  color: $jr-green;
}
.badge.bg-yellow {
  border: 1px solid #cfae05;
  background: #fdf3d9;
  color: #cfae05;
}
.badge.bg-red {
  border: 1px solid $jr-red;
  background: #fad7dd;
  color: $jr-red;
}

.badge.permissions:before {
  @include jr-icon-mixin();
  color: $jr-middlegrey;
  content: '\F04c';
  font-size: 10px;
  display: inline-block;
  padding: 1px 3px 0 0;
}

.jr-list-group .counter {
  padding: 0 3px;
  min-width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid $jr-middlegrey;
  color: $jr-middlegrey;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  white-space: normal;
  opacity: 0.5;
}
