 /* JR color sass variables
 ================================================== */
 
 $jr-black: #11141A;
 $jr-darkgrey: #495054;
 $jr-middlegrey: #7A8991;
 $jr-lightgrey: #F2F1F0;

 $jr-green: #44AA44;
 $jr-yellow: #E3C20D; 
 $jr-orange: #E35E3B; 
 $jr-red: #F64F4F;

 $jr-box-shadow: rgba(18,38,63,.03);
