/* jr cards
 =================================================================== */

.row.multi-row-stretch {
  height: calc(100% + 15px);
  --bs-gutter-y: 15px;
}
.row.align-items-stretch .card:only-of-type {
  height: 100%;
}

/* special headline style */
.row.align-items-stretch > div {
  position: relative;
}
.row.align-items-stretch .card-headline {
  position: absolute;
  top: 0;
  left: 10px;
}
.row.align-items-stretch .card-headline + .card:only-of-type {
  height: calc(100% - 30px);
  margin-top: 30px;
}

.card {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0.75rem 1.5rem $jr-box-shadow;
}
.card-header {
  background: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.card-body {
  padding: 15px;
  hr {
    margin: 15px -15px;
    opacity: 1;
    background: #e3e3e3;
  }
}
.card.card-grey {
  background: darken(#fff, 2%) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
