/* jr dropdown
=================================================================== */

.dropdown-btn {
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
}
.dropdown-btn:hover {
  opacity: 1;
}
.dropdown-menu.dropdown-menu-end {
  right: 1px;
}

.jr-buttonbar .dropdown-menu.dropdown-menu-end {
  top: 42px;
}
.card-body .dropdown-top-right {
  position: absolute;
  top: 8px;
  right: 10px;
}

.dropdown-menu {
  min-width: 135px;
  max-width: 230px;
  padding: 2px;
  margin: 0;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: $jr-darkgrey;
  box-shadow:
    0 8px 26px -4px hsla(0, 0%, 8%, 0.15),
    0 8px 9px -5px hsla(0, 0%, 8%, 0.06);
}

.dropdown-item {
  cursor: pointer;
  display: flex;
  padding: 0;
  font-weight: 800;
  color: $jr-darkgrey;
  border-radius: 4px;
  white-space: normal;
}
.dropdown-item:hover {
  color: $jr-black;
  background: #e9ecef;
  text-shadow: 0 0 3px #fff;
  box-shadow:
    0 1px 0 $jr-lightgrey inset,
    0 -1px 0 $jr-lightgrey inset;
}
.dropdown-item:focus {
  background: transparent;
  color: $jr-darkgrey;
}

.dropdown-item .jr-icon {
  color: $jr-darkgrey;
  display: flex;
  flex-flow: column;
  flex: 0;
  font-size: 19px;
  min-width: 25px;
  padding: 0 0 0 5px;
  margin: auto 0;
}
.dropdown-item .label {
  color: $jr-darkgrey;
  display: flex;
  flex-flow: column;
  flex: 1;
  min-width: 25px;
  padding: 5px 10px;
  margin: auto;
  line-height: 1.5em;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  pointer-events: none;
  background-color: transparent;
  cursor: not-allowed;
}

.dropdown-item.disabled * {
  color: $jr-middlegrey !important;
  opacity: 0.5;
}

.dropdown-divider {
  height: 2px !important;
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.2);
}
/* app switcher */

.dropdown-item {
  .jr-brand-settings {
    width: 110px;
    height: 35px;
    @include settings-logo-color;
    background-size: 96px 25px !important;
  }
  .jr-brand-dxhub {
    width: 110px;
    height: 35px;
    @include dxhub-logo-color;
    background-size: 81px 19px !important;
  }
  .jr-brand-neoletter {
    width: 110px;
    height: 35px;
    @include neoletter-logo-color;
    background-size: 104px 19px !important;
  }
  .jr-brand-scrivito {
    width: 110px;
    height: 35px;
    @include scrivito-logo-color;
    background-size: 84px 19px !important;
  }
  .jr-brand-pisa {
    width: 110px;
    height: 35px;
    @include pisa-logo-color;
    background-size: 102px 19px !important;
  }
}
