/* jr-list-search
 =================================================================== */
.jr-list-search {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.jr-list-search .input-group-search .form-control {
  border-radius: 5px 5px 0 0 !important;
  background: rgba(0, 0, 0, 0.02);
  padding: 0.455rem 45px 0.295rem 10px;
}

.jr-list-search .jr-list-item-wrapper {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.jr-list-search .jr-list-item {
  padding: 8px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  transition: all ease-in-out 0.2s;
}
.jr-list-search .jr-list-item:hover {
  background: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.jr-list-search .jr-list-item:first-child {
  border-top: none;
}

.jr-list-search .jr-list-item .btn-confirm-group {
  top: -13px;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
.jr-list-search .jr-list-item:hover .btn-confirm-group {
  opacity: 1;
}
.jr-list-search .jr-list-item [class*='big'] {
  font-size: 30px;
  overflow: hidden;
}

.jr-list-search .jr-list-item .jr-list-bagde {
  line-height: 12px;
  font-size: 9px;
  padding: 1px 5px;
}
