/* jr-list-bubble 
 =================================================================== */

.jr-list-bubble {
  list-style: none;
  padding: 0 0 15px 0;
}
.jr-list-bubble > li {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0 0 15px 0;
  @include clearfix;
}
.jr-list-bubble > li:last-child:before {
  border-left: 2px solid transparent;
}
.jr-list-bubble > li:before {
  content: '';
  display: block;
  border-left: 2px solid rgba(0, 0, 0, 0.15);
  transform: translate(18px, 20px);
}
.jr-list-bubble > li.separator {
  padding-left: 0;
  margin-left: 0;
  &:before {
    border: none;
  }
  .btn {
    margin: 0;
  }
}

.jr-list-bubble.comments li:before {
  border: none;
}

.jr-list-bubble > li {
  .jr-icon-round {
    display: block;
    margin: 0 20px 0 0;
  }
  .img-wrapper {
    display: flex;
    flex-direction: column;
    margin: -5px 15px 0 0;
    .badge {
      margin: 0 auto;
    }
  }

  .arrow-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: min-content;
    background: var(--light-grey);
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: var(--jr-card-box-shadow);
  }

  .arrow-box:after,
  .arrow-box:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
  }

  .arrow-box:after {
    border-right-color: var(--light-grey);
    border-width: 12px;
    margin-top: -12px;
  }
  .arrow-box:before {
    border-right-color: rgba(0, 0, 0, 0.1);
    border-width: 13px;
    margin-top: -13px;
  }
  .arrow-box p:last-of-type {
    margin: 0 0 0.25em 0;
  }
}

.jr-list-bubble > li.active {
  border-left: 2px solid orange;
}

.jr-list-bubble > li.jr-list-bubble-add {
  margin-top: -10px;
  .jr-icon-round:hover {
    background: var(--dark-grey);
    color: #fff;
    cursor: pointer;
  }
}

.jr-list-bubble.comments li.right {
  flex-flow: row-reverse;
  .img-wrapper {
    margin: -5px 0 0 15px;
  }
  .arrow-box {
    background: var(--bs-primary);
    p {
      color: #fff;
    }
  }
  .arrow-box:after,
  .arrow-box:before {
    right: 0;
    left: 100%;
    top: 15px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
  }

  .arrow-box:after {
    border-left-color: var(--bs-primary);
    border-width: 12px;
    margin-top: -12px;
  }
  .arrow-box:before {
    border-left-color: rgba(0, 0, 0, 0.15);
    border-width: 13px;
    margin-top: -13px;
  }
}

.img-profile {
  background: rgba(255, 255, 255, 0.5);
  object-fit: contain;
  width: 80px;
  height: 80px;
  line-height: 80px;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.img-profile.cover {
  object-fit: cover;
}

.img-profile.sm {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
}
.img-profile.xs {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
}

@media (max-width: $screen-sm-max) {
}
