/* Main UI elements /
=================================================================== */

/* Main UI colors
=================================================================== */

.jr-topbar,
.jr-bottombar,
.jr-sidebar-left,
.jr-sidebar-right {
  background: #fff;
}

/* Main Layout /
=================================================================== */

html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.jr-wrapper {
  display: flex;
  height: 100%;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

/* horizontal bars */
.jr-topbar,
.jr-bottombar {
  display: flex;
  min-height: 42px;
  height: 0;
  align-items: center !important;
  transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.8s;
}

.jr-topbar {
  box-shadow: 0 -2px 0 -1px $jr-lightgrey inset;
}
.jr-bottombar {
  box-shadow: 0 1px 0 $jr-lightgrey inset;
  min-height: 60px;
  padding: 0 10px 0 0;
}

/* main stage */
.jr-main-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.jr-sidebar-left,
.jr-sidebar-right {
  display: flex;
  flex-flow: column;
  flex: 0 auto;
  min-width: 45px;
  max-width: 500px;
  transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.6s;
}
main {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 15px 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 10px $jr-box-shadow inset;
  transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.6s;
}

.jr-zen-mode {
  .jr-sidebar-left,
  .jr-sidebar-right {
    min-width: 0;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
  }
  .jr-topbar,
  .jr-bottombar {
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .jr-app-switcher,
  .jr-sidebar-left,
  .jr-buttonbar.jr-user > .label {
    min-width: 0 !important;
    max-width: 0 !important;
    opacity: 0;
    overflow: hidden;
    padding: 0;
  }
  .jr-sidebar-toggle {
    min-width: 45px !important;
    opacity: 1;
  }
}

.jr-sidebar-left-show {
  .jr-sidebar-left {
    min-width: 45px !important;
    max-width: 500px !important;
    opacity: 1;
  }
  .jr-sidebar-left .jr-buttonbar .label {
    max-width: 500px;
    opacity: 1;
    padding: 0 15px 0 0;
  }
  main {
    opacity: 0.1;
  }
}

/* buttonbar
 =================================================================== */

.jr-buttonbar {
  display: flex;
  min-height: 42px;
  min-width: 45px;
  cursor: pointer;
  user-select: none;
}
.jr-buttonbar .jr-icon {
  display: flex;
  flex-flow: column;
  flex: 0;
  font-size: 19px;
  min-width: 45px;
  padding: 0;
  margin: auto 0;
}
.jr-buttonbar .label {
  display: flex;
  flex-flow: column;
  flex: 1;
  max-width: 500px;
  opacity: 1;
  margin: auto;
  padding: 0 15px 0 0;
  font-weight: 800;
  font-size: 14px;
  transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.6s;
}

.jr-sidebar-left-label-hide .jr-sidebar-left .jr-buttonbar .label {
  opacity: 0;
  max-width: 0;
  padding: 0;
}

@media (max-width: 810px) {
  .jr-sidebar-left .jr-buttonbar .label {
    opacity: 0;
    max-width: 0;
    padding: 0;
  }
}

.jr-buttonbar .label.user-name {
  font-size: 13px;
  line-height: 16px;
}
.jr-buttonbar .label.user-name .user-meta {
  font-size: 10px;
  font-weight: 700;
  padding: 0 7px;
  border-radius: 20px;
  line-height: 13px;
  margin: 0 0 0 -5px;
  color: #777;
  background: $jr-lightgrey;
}

.jr-buttonbar.jr-brand-settings {
  width: 120px;
}
.jr-buttonbar.jr-brand-dxhub {
  width: 118px;
}
.jr-buttonbar.jr-brand-neoletter {
  width: 145px;
}
.jr-buttonbar.jr-brand-scrivito {
  width: 120px;
}
.jr-buttonbar.jr-brand-pisa {
  width: 145px;
}

.jr-buttonbar.jr-brand-settings,
.jr-buttonbar.jr-brand-settings:hover {
  @include settings-logo-color;
  box-shadow: none !important;
  cursor: default;
}

.jr-buttonbar.jr-brand-dxhub,
.jr-buttonbar.jr-brand-dxhub:hover {
  @include dxhub-logo-color;
  box-shadow: none !important;
  cursor: default;
}

.jr-buttonbar.jr-brand-neoletter,
.jr-buttonbar.jr-brand-neoletter:hover {
  @include neoletter-logo-color;
  box-shadow: none !important;
  cursor: default;
}
.jr-buttonbar.jr-brand-scrivito,
.jr-buttonbar.jr-brand-scrivito:hover {
  @include scrivito-logo-color;
  box-shadow: none !important;
  cursor: default;
}
.jr-buttonbar.jr-brand-pisa,
.jr-buttonbar.jr-brand-pisa:hover {
  @include pisa-logo-color;
  box-shadow: none !important;
  cursor: default;
}

.jr-topbar,
.jr-sidebar-left,
.jr-sidebar-right {
  .jr-buttonbar:hover,
  .jr-buttonbar.active {
    background: rgba(0, 0, 0, 0.02);
    text-decoration: none;
    color: $jr-darkgrey;
  }
}

.jr-topbar {
  .jr-buttonbar:hover,
  .jr-buttonbar.active {
    box-shadow:
      0 3px 0 $jr-yellow inset,
      0 1px 0 $jr-lightgrey inset,
      0 -1px 0 $jr-lightgrey inset;
  }
}
.jr-sidebar-left {
  .jr-buttonbar:hover,
  .jr-buttonbar.active {
    box-shadow:
      3px 0 0 $jr-yellow inset,
      0 1px 0 $jr-lightgrey inset,
      0 -1px 0 $jr-lightgrey inset;
  }
}
.jr-sidebar-right {
  .jr-buttonbar:hover,
  .jr-buttonbar.active {
    box-shadow:
      -3px 0 0 $jr-yellow inset,
      0 1px 0 $jr-lightgrey inset,
      0 -1px 0 $jr-lightgrey inset;
  }
}

/* jr-sidebar-toggle
 =================================================================== */

.jr-sidebar-toggle {
  overflow: hidden;
  position: relative;
  width: 0;
  height: 29px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  transition: all 0.25s ease-in-out;

  .lines,
  .lines:after {
    height: 2px;
    border-radius: calc(0.1 * 29px);
    background-color: $jr-darkgrey;
    transition: all 0.25s ease-in-out;
  }
  .lines {
    width: calc(0.65 * 29px);
    transform: translateY(-3px);
  }
  .lines:after {
    position: absolute;
    width: calc(0.4 * 29px);
    transform: translateY(calc(0.22 * 29px));
    content: '';
  }
  &.open {
    background: rgba(0, 0, 0, 0.02);
    box-shadow:
      0 3px 0 $jr-yellow inset,
      0 1px 0 $jr-lightgrey inset,
      0 -1px 0 $jr-lightgrey inset;
  }
  &.open .lines {
    height: 3px;
    transform: translateY(0px) rotate(45deg);
  }
  &.open .lines:after {
    height: 3px;
    width: calc(0.65 * 29px);
    transform: translateY(0px) rotate(-90deg);
  }
}

/* just relate app switcher
 =================================================================== */

.jr-buttonbar.jr-app-switcher {
  width: 45px;
  height: 42px;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &.open {
    background: rgba(0, 0, 0, 0.02);
    box-shadow:
      0 3px 0 $jr-yellow inset,
      0 1px 0 $jr-lightgrey inset,
      0 -1px 0 $jr-lightgrey inset;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 3px;
    padding: 0;
    min-width: auto;
    background: $jr-darkgrey;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.15s ease-in-out;
  }

  span:nth-child(even) {
    left: 20px;
    border-radius: 50%;
  }
  span:nth-child(odd) {
    left: 14px;
    border-radius: 50%;
  }
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    top: 14px;
  }
  span:nth-child(4),
  span:nth-child(5),
  span:nth-child(6) {
    top: 20px;
  }
  span:nth-child(7),
  span:nth-child(8),
  span:nth-child(9) {
    top: 26px;
  }
  span:nth-child(3),
  span:nth-child(6),
  span:nth-child(9) {
    left: 26px;
  }

  &.open span:nth-child(1) {
    width: 12px;
    transform: rotate(45deg);
    left: 13px;
    border-radius: 50px;
    top: 17px;
  }
  &.open span:nth-child(3) {
    width: 12px;
    transform: rotate(-45deg);
    border-radius: 50px;
    left: 19px;
    top: 17px;
  }
  &.open span:nth-child(7) {
    width: 12px;
    transform: rotate(-45deg);
    left: 13px;
    border-radius: 50px;
    top: 23px;
  }
  &.open span:nth-child(9) {
    width: 12px;
    transform: rotate(45deg);
    border-radius: 50px;
    left: 19px;
    top: 23px;
  }
  &.open span:nth-child(2),
  &.open span:nth-child(5),
  &.open span:nth-child(6),
  &.open span:nth-child(8) {
    top: 20px;
    left: 20px;
  }
}
