/* jr steps
 =================================================================== */

.jr-steps {
  display: flex;
  margin: 0 auto;
  padding: 3px;
  text-align: left;
  height: 80px;
  overflow-y: hidden;
  overflow-x: auto;
}

.jr-steps-item {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 60px;
  margin: 1px 0;
  padding: 0 10px 0 48px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.jr-steps-item:first-child {
  padding: 0 10px 0 35px;
}

.jr-steps-item:before {
  content: '';
  position: absolute;
  bottom: calc(50% - 35px);
  right: -12px;
  height: 0;
  width: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 15px solid #fff;
  border-radius: 4px;
  z-index: 2;
}

.jr-steps-item:after {
  content: '';
  position: absolute;
  bottom: calc(50% - 35px);
  right: -14px;
  height: 0;
  width: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 15px solid #eaeaea;
  border-radius: 4px;
  z-index: 1;
}

.jr-steps-item:last-child:before,
.jr-steps-item:last-child:after {
  display: none;
}

.jr-steps-item {
  .counter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 5px 5px 5px 20px;
    min-width: 20px;
    display: flex;
  }
  &:first-child .counter {
    padding: 5px 5px 5px 10px;
  }

  .counter span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    font-weight: 800;
    padding: 0 !important;
    text-align: center;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
    margin: auto;
  }
}

.jr-steps-item.active {
  .counter span,
  .jr-icon,
  .h5,
  .text-meta {
    color: $jr-green;
    opacity: 1;
  }
}

//-- RESPONSIVE FIXES --//

@media (max-width: $screen-md-max) {
  .jr-steps-item {
    .counter span {
      font-size: 20px;
    }
    .jr-icon {
      font-size: 23px;
    }
    .h5 {
      font-size: 12px;
    }
    .text-small {
      font-size: 10px;
    }
  }
}
@media (max-width: $screen-sm-max) {
  .jr-steps {
    flex-direction: column;
    overflow: visible;
    height: auto;
  }

  .jr-steps-item {
    padding: 5px 10px 0 30px !important;
  }
  .jr-steps-item:first-child {
    padding: 0 10px 0 30px !important;
  }
  .jr-steps-item::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 80px);
    height: 0;
    width: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 13px solid #fff;
    border-bottom: none;
    border-radius: 4px;
    z-index: 2;
  }

  .jr-steps-item::after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: calc(50% - 80px);
    height: 0;
    width: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 11px solid #eaeaea;
    border-bottom: none;
    border-radius: 4px;
    z-index: 1;
  }

  .jr-steps-item .counter {
    padding: 5px 5px 5px 10px;
  }
}
