/* jr tooltip - css only tooltip
 =================================================================== */

[data-tooltip] {
  position: relative;
  cursor: pointer;
  z-index: 11;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  opacity: 0;
  transition: all cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.2s 0.4s;
}
[data-tooltip]:before {
  content: '';
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 2px;
  background: #4d4d4d;
  color: #ffffff;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow='top']::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #4d4d4d;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow='top']::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow='top']::before,
[data-tooltip][data-flow='top']::after {
  left: 50%;
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow='bottom']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #4d4d4d;
}
[data-tooltip][data-flow='bottom']::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow='bottom']::before,
[data-tooltip][data-flow='bottom']::after {
  left: 50%;
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow='left']::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #4d4d4d;
  left: calc(0em - 5px);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow='left']::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow='right']::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #4d4d4d;
  right: calc(0em - 5px);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow='right']::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(8px, -50%);
}
[data-tooltip='']::after,
[data-tooltip='']::before {
  display: none !important;
}
