/* nav-tabs + tab-content /
 =================================================================== */

.nav-tabs {
  border: none;
}
.nav-tabs {
  .nav-link {
    color: lighten($jr-darkgrey, 10%);
    background: #f9f9f9;
    font-weight: 800;
    font-size: 14px;
    border: none;
    padding: 8px 15px 6px 15px;
    margin: 0 5px 0 0;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    box-shadow:
      0 0.75rem 1.5rem $jr-box-shadow,
      0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $jr-darkgrey;
    background: #fff;
  }
  .nav-link.active {
    color: $jr-darkgrey;
    background: #fff;
    box-shadow: 0 0.75rem 1.5rem $jr-box-shadow;
  }
}

.card.tab-content {
  border-radius: 0 5px 5px 5px;
}

/* boxless style of nav-tabs + tab-content /
 =================================================================== */

.nav-tabs.boxless {
  border-bottom: 2px solid #e0e0e0;
  .nav-link {
    color: lighten($jr-darkgrey, 5%);
    background: transparent;
    font-weight: 800;
    font-size: 18px;
    border: none;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none;
    position: relative;
  }
  .nav-link.active {
    color: $jr-darkgrey;
    background: transparent;
    box-shadow: none;
  }
  .nav-link.active:after {
    content: '';
    background: $jr-yellow;
    display: block;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 5px;
    right: 5px;
  }
}
