// Good old BS3 - Visibility utilities

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: block !important;
}

.visible-xs {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.visible-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}
.visible-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}
.visible-lg {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}
.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none !important;
  }
}
.hidden-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: none !important;
  }
}
.hidden-lg {
  @media (min-width: $screen-lg-min) {
    display: none !important;
  }
}
