/* table
 =================================================================== */

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #12263f;
  --bs-table-striped-bg: #f9fbfd;
  --bs-table-active-color: #12263f;
  --bs-table-active-bg: #f9fbfd;
  --bs-table-hover-color: var(--dark-grey);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
  color: var(--dark-grey);
  margin-bottom: 1.5rem;
  vertical-align: top;
  width: 100%;
}
.table th {
  padding: 6px 15px 4px 15px;
}
.table td {
  padding: 10px 15px;
}

.table > :not(:first-child) {
  border-top: 1px solid var(--dark-grey);
}

.table thead th,
.table tbody td,
.table tbody th {
  vertical-align: middle;
}

.table thead th {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  white-space: nowrap;
  position: relative;
}

.responsive-stacked,
.responsive-scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

tr:last-child th,
tr:last-child td {
  border: none;
}

@media (max-width: $screen-sm-max) {
  .responsive-stacked {
    .table thead th {
      display: none;
    }
    .table tr:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .table td {
      display: block;
      border: none;
      padding: 2px 15px;
    }
    .table td:first-child {
      padding: 5px 15px 0 15px;
    }

    table td:before {
      content: attr(data-label);
      display: block;
      color: var(--dark-grey);
      font-size: 8px;
      font-weight: 600;
      letter-spacing: 0.08em;

      text-transform: uppercase;
      margin: 5px 0 0 0;
    }
  }
}

/* table smaller
 =================================================================== */

.table-small {
  font-size: 0.7rem;

  th,
  td {
    padding: 5px;
  }
}

.table-extra-small {
  font-size: 0.7rem;

  th,
  td {
    padding: 0 2px;
  }
}
