.padding-editor {
  width: 100%;
  padding: 20px 17px;
  container-type: inline-size;

  .label {
    font-size: 11px;
    font-weight: 600;
    color: #777;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .fields {
    position: relative;
    height: 100px;
    margin: 10px;
    max-width: 270px;
    border: 2px solid #aaa;
    border-radius: 4px;
  }

  .field {
    position: absolute;
    background: #fff;

    &.top {
      top: -1px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.right {
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
    }

    &.bottom {
      bottom: -1px;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    &.left {
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }

  .input {
    width: 100px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &:focus {
      outline: none;
      border-color: #577fb6;
      box-shadow: 0 0 0 2px rgba(87, 127, 182, 0.2);
    }

    &::placeholder {
      color: #999;
      font-style: italic;
    }
  }

  &.dark {
    background: var(--jr-grey-middle);

    .label {
      color: #aaa;
    }

    .fields {
      border-color: rgba(222, 222, 222, 0.3);
    }

    .field {
      background: var(--jr-grey-middle);
    }

    .input {
      background: rgba(222, 222, 222, 0.2);
      border-color: rgba(222, 222, 222, 0.3);
      color: #eee;

      &::placeholder {
        color: #aaa;
      }
    }
  }
}

@container (max-width: 260px) {
  .padding-editor {
    .fields {
      height: 140px;
    }

    .field.left {
      top: 33%;
    }

    .field.right {
      top: 66%;
    }
  }
}
