.alignment-editor {
  overflow: hidden;

  /* -- grid layout editor - previews -- */

  .gle-preview-list {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .gle-preview-group {
    float: left;
    margin: 0 20px 0 0;
  }
  .gle-preview {
    float: left;
    margin: 3px 6px 3px 0;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 40px;
  }
  .gle-preview.clickable {
    cursor: pointer;
  }
  .gle-preview.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }

  .gle-preview > [class*='grid-col-'] {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    height: 100%;
    margin: 0 1px;
  }

  .gle-preview > .grid-col-12 {
    width: calc(100% - 2px);
  }

  .gle-preview.clickable:hover > [class*='grid-col-'] {
    box-shadow: 0 0 0 1px rgba(#426698, 0.5) inset;
    background: rgba(#426698, 0.3);
  }
  .gle-preview.active > [class*='grid-col-'] {
    box-shadow: 0 0 0 1px rgba(#426698, 1) inset;
    background: rgba(#426698, 0.6);
  }

  /* -- grid layout editor - vertical alignment -- */

  .gle-preview > [class*='grid-col-'] .alignment {
    display: block;
    background: #777;
    height: 2px;
    margin: 3px 2px 2px 2px;
  }
  .gle-preview > [class*='grid-col-'] .alignment:after {
    content: '';
    background: #777;
    display: block;
    float: left;
    height: 2px;
    margin-top: 4px;
    width: 65%;
  }
  .gle-preview > [class*='grid-col-'] .alignment.center {
    margin: 8px 2px 2px 2px;
  }
  .gle-preview > [class*='grid-col-'] .alignment.bottom {
    margin: 12px 2px 2px 2px;
  }
  .gle-preview > [class*='grid-col-'] .alignment.fullHeight {
    background: rgba(222, 222, 222, 0.6);
    box-shadow: 0 0 0 1px #888 inset;
    margin: 2px;
    position: relative;
    height: 81%;
  }

  .gle-preview > [class*='grid-col-'] .alignment.fullHeight:before {
    content: '';
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-bottom-color: #777;
    width: 0;
    margin: 0;
    position: absolute;
    top: -1px;
    left: 11px;
  }

  .gle-preview > [class*='grid-col-'] .alignment.fullHeight:after {
    content: '';
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-top-color: #777;
    width: 0;
    margin: 0;
    position: absolute;
    bottom: -1px;
    left: 11px;
  }

  /* -- dark mode -- */

  &.scrivito_dark {
    .gle-preview {
      border: 2px solid #777;
      background: var(--jr-grey-light-hover);
    }
    .gle-preview.active {
      border: 2px solid #426698;
    }
    .gle-preview > [class*='grid-col-'] {
      background: rgba(0, 0, 0, 0.2);
    }
    .gle-preview.clickable:hover > [class*='grid-col-'] {
      box-shadow: none;
      background: rgba(0, 0, 0, 0.4);
    }
    .gle-preview.active > [class*='grid-col-'] {
      box-shadow: none;
      background: rgba(0, 0, 0, 0.4);
    }
    .gle-preview > [class*='grid-col-'] .alignment.fullHeight {
      background: transparent;
      box-shadow: 0 0 0 1px #666 inset;
    }
  }
}
