// -- main file -- //

/* bs5 imports (used parts depends on project)
 ================================================== */

@import 'vendor/bs5/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'scrivito-neoletter-form-widgets/index.css';

/* bs5 variables
 ================================================== */

@import 'contrast';

:root {
  --light-grey: #f2f3f7;
  --middle-grey: #e8e8e8;
  --dark-grey: #2f2f2f;

  // Dark text color variables for text on light backgrounds
  --dark-text-color: #454545;
  --dark-headline-text-color: #3b3b3b;

  // Light text color variables for text on dark backgrounds
  --light-text-color: #fff;
  --light-headline-text-color: #fff;

  --bg-color: unset;
  --headline-text-color: var(--dark-headline-text-color);
  --text-color: var(--dark-text-color);

  --border: rgba(0, 0, 0, 0.1);

  // The variable var(--bs-primary) is utilized in packages like `scrivito-neoletter-form-widgets`.
  --bs-primary: #274486;
  --bs-primary-text-color: #{bestContrast(
      var(--bs-primary),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-primary-headline-text-color: #{bestContrast(
      var(--bs-primary),
      var(--dark-headline-text-color),
      var(--light-headline-text-color)
    )};
  --bs-primary-lighten: hsl(from var(--bs-primary) h s calc(l + 8));
  --bs-primary-darken: hsl(from var(--bs-primary) h s calc(l - 8));

  // The variable var(--bs-secondary) is utilized in packages like `scrivito-neoletter-form-widgets`.
  --bs-secondary: #39a9eb;
  --bs-secondary-text-color: #{bestContrast(
      var(--bs-secondary),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-secondary-headline-text-color: #{bestContrast(
      var(--bs-secondary),
      var(--dark-headline-text-color),
      var(--light-headline-text-color)
    )};

  --bs-success: #21704b;
  --bs-info: #39a9eb;
  --bs-warning: #f9bf29;
  --bs-danger: #9b1d1d;

  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-primary-rgb: 59, 93, 80;
  --bs-secondary-rgb: 249, 191, 41;

  --bs-success-rgb: 59, 93, 80;
  --bs-info-rgb: 41, 162, 249;
  --bs-warning-rgb: 249, 191, 41;
  --bs-danger-rgb: 155, 29, 29;

  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;

  --bs-body-font-family: 'Manrope';
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 500;
  --bs-body-line-height: 1.75;
  --bs-body-color: var(--dark-text-color);

  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;

  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;

  --bs-border-radius: 8.5px;
  --jr-box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.25);
  --jr-headline-font-family: 'Firava';
  --jr-headline-font-weight: 500;

  hyphens: auto;
}

#app-wrapper {
  a:focus-visible,
  .btn:focus-visible,
  :focus-visible {
    outline: 3px solid var(--bs-primary-lighten) !important;
    outline-offset: 2px !important;
    border-radius: 5px;
    box-shadow: none !important;
  }
  .card > a:focus-visible,
  .card-body:focus-visible,
  .nav-bordered li a:focus-visible {
    outline-offset: -2px !important;
  }
}

.skippy.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 100% !important;
}
.skippy:focus-within {
  overflow: visible !important;
  z-index: 10;
  width: 100%;
  top: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.95);
  transition: all ease-in-out 0.3s;
}

.btn {
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--jr-headline-font-family), sans-serif;
  font-size: var(--bs-btn-font-size);
  font-weight: var(--jr-headline-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-btn-bg);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  text-decoration: none;
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

// Base button variant styles using CSS custom properties
.btn-primary,
.btn-secondary {
  --btn-color-lighten: hsl(from var(--btn-color) h s calc(l + 8));
  --btn-color-darken: hsl(from var(--btn-color) h s calc(l - 8));
  --bs-btn-color: #{bestContrast(
      var(--btn-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-btn-bg: var(--btn-color);
  --bs-btn-border-color: var(--btn-color);
  --bs-btn-hover-color: #{bestContrast(
      var(--btn-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-btn-hover-bg: var(--btn-color-lighten);
  --bs-btn-hover-border-color: var(--btn-color-lighten);
  --bs-btn-active-color: #{bestContrast(
      var(--btn-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-btn-active-bg: var(--btn-color-darken);
  --bs-btn-active-border-color: var(--btn-color-darken);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #aaa;
  --bs-btn-disabled-bg: var(--btn-color-darken);
  --bs-btn-disabled-border-color: var(--btn-color-darken);
}

.btn-primary {
  --btn-color: var(--bs-primary);
}

.btn-secondary {
  --btn-color: var(--bs-secondary);
}

// Base outline button variant styles using CSS custom properties
.btn-outline-primary,
.btn-outline-secondary {
  --btn-color-lighten: hsl(from var(--btn-color) h s calc(l + 8));
  --btn-color-darken: hsl(from var(--btn-color) h s calc(l - 8));
  --bs-btn-color: var(--btn-color);
  --bs-btn-border-color: var(--btn-color);
  --bs-btn-hover-color: #{bestContrast(
      var(--btn-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-btn-hover-bg: var(--btn-color-lighten);
  --bs-btn-hover-border-color: var(--btn-color-lighten);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #{bestContrast(
      var(--btn-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --bs-btn-active-bg: var(--btn-color-darken);
  --bs-btn-active-border-color: var(--btn-color-darken);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--btn-color-lighten);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--btn-color-lighten);
  --bs-gradient: none;

  &:focus-visible {
    color: #{bestContrast(
        var(--btn-color),
        var(--dark-text-color),
        var(--light-text-color)
      )} !important;
  }
}

.btn-outline-primary {
  --btn-color: var(--bs-primary);
}

.btn-outline-secondary {
  --btn-color: var(--bs-secondary);
}

.btn i:only-child {
  padding: 0;
  margin: auto;
}
.btn:has(i) {
  display: flex;
}

.input-group {
  .btn {
    border-radius: var(--bs-border-radius);
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .form-control {
    border-radius: var(--bs-border-radius);
    background: var(--light-grey);
    border-right: 0;

    &.no-arrows {
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }
  &:has(.btn + .form-control + .btn) {
    border-radius: var(--bs-border-radius);
    &:focus-within {
      box-shadow: 0 0 1rem 0 rgba(140, 152, 164, 0.25);
    }
    .form-control {
      &:focus {
        box-shadow: unset;
        z-index: unset;
      }
    }
  }
}
.bg-light-grey {
  .input-group .form-control {
    background: var(--light-text-color);
  }
}

.navbar-main .input-group {
  margin-top: 4px;
  .form-control,
  .btn {
    height: 38px;
  }
}

.navbar-meta .input-group {
  margin-top: 2px;
  .form-control,
  .btn {
    height: 33px;
  }
}

.btn i {
  padding-right: 6px;
}
/* parts imports
 ================================================== */

@import 'theme/fonts';
@import 'theme/loader';
@import 'theme/table';
@import 'theme/steps';
@import 'theme/loading-placeholder';
@import 'theme/print';
@import 'theme/attachment';
@import 'theme/box-comment';

/* general styles + helper classes
 =================================================================== */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  margin: 0;
}

.z-1021 {
  z-index: 1021;
}

[class*='col-'] {
  position: relative;
}

// patch for full height same margins as flex cols
.row.align-items-stretch > [class*='col-'] {
  display: grid;
}

img,
video {
  max-width: 100%;
  object-fit: contain;
}

.py-50 {
  padding: 50px 0;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-text-color);
  font-family: var(--jr-headline-font-family), sans-serif;
  font-weight: var(--jr-headline-font-weight);
  letter-spacing: -0.5px;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}

@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
  h2,
  .h2 {
    font-size: 1.75rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1.25rem;
  }
  h5,
  .h5 {
    font-size: 1.15rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
}

a {
  color: var(--dark-text-color);
  text-decoration: underline;
}
a:hover,
a:active,
a:visited {
  text-decoration: underline;
}

.box-attachment,
.dropdown-item,
footer a,
nav a,
.nav a,
.navbar a,
.nav-bordered a,
.card > a,
a.card,
a.btn {
  text-decoration: none !important;
}

::selection {
  background: rgba(255, 204, 0, 0.761);
  color: #333;
}

.noselect {
  user-select: none;
}

.text-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.min-vw-0 {
  min-width: 0vw;
}

mark {
  padding: 0 3px;
  border-radius: var(--bs-border-radius);
  background: var(--bs-secondary);
  color: var(--bs-secondary-text-color);
  display: inline-block;
}

b,
strong {
  font-weight: bolder;
}

.max-width-350 {
  max-width: 350px;
}

/* full height website
 ================================================== */

html,
body {
  height: 100%;
}
#root,
#app-wrapper {
  display: flex;
  height: 100%;
  flex-flow: column;
}
main {
  flex: 1;
}

/* equal height for row-cols
 ================================================== */
.row-cols-1 > * {
  display: grid;
}

/* alert
 ================================================== */
.alert {
  background: #fff;
  color: var(--dark-grey);
  border: none;
  border-radius: 5px;
  box-shadow:
    0 8px 26px -4px rgba(20, 20, 20, 0.15),
    0 8px 9px -5px rgba(20, 20, 20, 0.06);
  font-size: 14px;
  font-weight: var(--bs-body-font-weight);
  line-height: 16px;
  margin: 10px 0;
  padding: 15px;
  position: relative;
}
.alert-warning {
  border-top: 5px solid var(--bs-warning) !important;
}

/* color / helper classes
 ================================================== */

.text-muted {
  opacity: 0.9;
  color: inherit !important;
}
.text-bold {
  font-weight: bolder;
}
.text-small {
  font-size: 0.75rem;
}
.text-extra-small {
  font-size: 0.65rem;
}
.text-multiline {
  white-space: pre-line;
  word-break: break-word;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-60 {
  opacity: 0.6;
}

//-- --//

// Base class for all background colors that automatically calculates optimal text colors
.bg-danger,
.bg-dark-grey,
.bg-info,
.bg-light-grey,
.bg-middle-grey,
.bg-primary,
.bg-secondary,
.bg-success,
.bg-warning,
.bg-white {
  --text-color: #{bestContrast(
      var(--bg-color),
      var(--dark-text-color),
      var(--light-text-color)
    )};
  --headline-text-color: #{bestContrast(
      var(--bg-color),
      var(--dark-headline-text-color),
      var(--light-headline-text-color)
    )};
}

// Individual background color definitions
.bg-white {
  --bg-color: #fff;
}
.bg-primary {
  --bg-color: var(--bs-primary);
}
.bg-dark-grey {
  --bg-color: var(--dark-grey);
}
.bg-secondary {
  --bg-color: var(--bs-secondary);
}
.bg-info {
  --bg-color: var(--bs-info);
}
.bg-success {
  --bg-color: var(--bs-success);
}
.bg-warning {
  --bg-color: var(--bs-warning);
}
.bg-danger {
  --bg-color: var(--bs-danger);
}
.bg-light-grey {
  --bg-color: var(--light-grey);
}
.bg-middle-grey {
  --bg-color: var(--middle-grey);
}

.bg-danger,
.bg-dark-grey,
.bg-info,
.bg-light-grey,
.bg-middle-grey,
.bg-primary,
.bg-secondary,
.bg-success,
.bg-warning,
.bg-white {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

// -- color content adaptions -- //

a {
  &.bg-primary,
  &.bg-secondary,
  &.bg-dark-grey,
  &.bg-success,
  &.bg-warning,
  &.bg-danger,
  &.bg-info,
  &.bg-white,
  &.bg-light-grey,
  &.bg-middle-grey {
    color: var(--text-color) !important;
  }
}

section {
  flex: 1;
}

.bg-danger,
.bg-dark-grey,
.bg-info,
.bg-primary,
.bg-secondary,
.bg-success,
.bg-warning {
  .btn-outline-primary,
  .btn-outline-secondary {
    color: var(--text-color);
    border-color: var(--text-color);
  }
}

.btn-outline-primary,
.btn-outline-secondary {
  &:hover,
  &:active {
    color: #{bestContrast(
        var(--btn-color),
        var(--dark-text-color),
        var(--light-text-color)
      )} !important;
  }
}

// -- new override -- //

a:not(.btn, .nav-link),
p,
th,
td,
.form-label,
.text-mandatory {
  color: var(--text-color);
}

.text-primary {
  color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}

.card,
.card .card,
.carousel-item,
.carousel-item .card {
  &.bg-white,
  &.bg-light-grey,
  &.bg-middle-grey {
    .btn-outline-primary {
      color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
    .btn-outline-secondary {
      color: var(--bs-secondary);
      border-color: var(--bs-secondary);
    }
  }
}

/* Language Icon
 ================================================== */

img.img-flag {
  display: inline-block;
  margin: -3px 6px 0 0;
  max-height: 15px;
  width: 17px;
}

/* Bootstrap Icons - Sizes Add-on
 ================================================== */

.bi {
  &.bi-1x {
    font-size: 1em;
    line-height: 1;
  }
  &.bi-2x {
    font-size: 1.5em;
    line-height: 1;
  }
  &.bi-3x {
    font-size: 2em;
    line-height: 1;
  }
  &.bi-4x {
    font-size: 2.5em;
    line-height: 1;
  }
  &.bi-5x {
    font-size: 3em;
    line-height: 1;
  }
}

/* section / card background upgrades
 ================================================== */

section:has(.img-background) {
  position: relative;
  z-index: 1;
}
.card {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
header section {
  overflow: visible;
  position: relative;
  z-index: 2;
}

.card {
  --bs-card-spacer-y: 2rem;
  --bs-card-spacer-x: 2rem;
  --bs-card-cap-padding-y: 1rem;
  --bs-card-cap-padding-x: 2rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: rgba(108, 117, 140, 0.15);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: var(--jr-box-shadow);
  --bs-card-inner-border-radius: 0.4375rem;
  --bs-card-cap-bg: transparent;
  --bs-card-bg: transparent;
  box-shadow: var(--jr-box-shadow);
}
.card,
.carousel-item {
  &.bg-danger,
  &.bg-dark-grey,
  &.bg-info,
  &.bg-light-grey,
  &.bg-middle-grey,
  &.bg-primary,
  &.bg-secondary,
  &.bg-success,
  &.bg-warning,
  &.bg-white {
    .bi {
      color: var(--text-color);
    }
  }

  &.bg-transparent {
    box-shadow: none;
    color: inherit;
  }
}
.card-body {
  position: relative;
  z-index: 1;
}

.card-footer {
  padding: 0 2rem 1rem 2rem;
}

.img-background {
  border-radius: inherit;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease-in-out;
  z-index: -1;
}

.bg-primary,
.bg-secondary,
.bg-dark-grey,
.bg-middle-grey,
.bg-light-grey,
.bg-success,
.bg-warning,
.bg-danger,
.bg-info,
.bg-white {
  > .img-background {
    opacity: 0.2;
    filter: blur(0px) grayscale(0.8);
  }
}

section:hover >,
section:focus >,
.card:not([data-scrivito-private-widget]):hover,
.card:not([data-scrivito-private-widget]):focus {
  .img-background.img-zoom {
    transform: scale(1.2);
    filter: blur(10px);
  }
}

section:hover >,
section:focus >,
.card:hover,
.card:focus {
  .img-background:before {
    display: block;
  }
}

//  card-extended  //

.card-extended {
  position: relative;
  z-index: 1;
  overflow: visible !important;
}

.card-extended:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.row [class*='col']:first-child .card-extended:after {
  right: 0;
  left: -2600px;
  border-radius: var(--bs-border-radius);
}
.row [class*='col']:last-child .card-extended:after {
  left: 0;
  right: -2600px;
  border-radius: var(--bs-border-radius);
}
.row [class*='col']:only-child .card-extended:after {
  left: 0;
  right: 0;
  border-radius: var(--bs-border-radius);
}

.card-extended {
  &.bg-primary:after {
    background: var(--bs-primary) !important;
  }
  &.bg-secondary:after {
    background: var(--bs-secondary) !important;
  }
  &.bg-dark-grey:after {
    background: var(--dark-grey) !important;
  }
  &.bg-middle-grey:after {
    background: var(--middle-grey) !important;
  }
  &.bg-light-grey:after {
    background: var(--light-grey) !important;
  }
  &.bg-success:after {
    background: var(--bs-success) !important;
  }
  &.bg-warning:after {
    background: var(--bs-warning) !important;
  }
  &.bg-danger:after {
    background: var(--bs-danger) !important;
  }
  &.bg-info:after {
    background: var(--bs-info) !important;
  }
  &.bg-white:after {
    background: #fff;
  }
}

.bg-primary:after {
  background: var(--bs-primary);
}
.card-extended.bg-secondary:after {
  background: var(--bs-secondary);
}

//-- card-img-extended --//

.card.card-img-extended {
  overflow: visible;
}

.card-img-extended {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background: inherit;
}

.card-img-extended:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background: inherit;
  background-size: cover;
  background: inherit;
}

.row [class*='col']:first-child .card-img-extended.card-extended:before {
  right: 0;
  left: -2600px;
}
.row [class*='col']:last-child .card-img-extended.card-extended:before {
  left: 0;
  right: -2600px;
}
.row [class*='col']:only-child .card-img-extended.card-extended:before {
  left: 0;
  right: 0;
}

.card-img-extended.card-extended {
  background: inherit;
}
.bg-primary,
.bg-secondary,
.bg-dark-grey,
.bg-middle-grey,
.bg-light-grey,
.bg-success,
.bg-warning,
.bg-danger,
.bg-info,
.bg-white {
  &.card-img-extended.card-extended:before {
    opacity: 0.2;
    filter: grayscale(0.8), blur(0px);
  }
}

// -- non transparent image for full height box  -- //

.img-box {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1.5s;
  z-index: -1;
}
@media (max-width: 991px) {
  .img-box {
    position: static;
  }
}

.img-box.img-h-200 {
  position: static;
  height: 200px;
}
.img-box.img-h-100 {
  position: static;
  height: 100px;
}
.img-box.img-h-50 {
  position: static;
  height: 50px;
}

// -- editor -- //

.editor {
  position: relative;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}
.editor-large {
  width: 5.75rem;
  height: 5.75rem;
}
.editor-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--bs-border-radius);
  box-shadow: var(--jr-box-shadow);
}

//-- headline with background --//

.header-caption {
  text-align: left;
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .display-5,
  .display-6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;

    span {
      padding: 10px 15px;
      margin: 3px 0;
    }
  }
}

// -- general form-control -- //

.form-label {
  color: var(--dark-headline-text-color);
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  color: var(--dark-text-color);
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid rgba(33, 50, 91, 0.1);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &.dropzone {
    cursor: pointer;
  }
}
.form-select {
  font-size: 0.9rem;
}
.form-control:disabled {
  background: rgba(255, 255, 255, 0.65);
  cursor: not-allowed;
}

.form-control.drag-active,
.form-control:focus {
  color: #1e2022;
  background-color: #fff;
  border-color: rgba(140, 152, 164, 0.25);
  outline: 0;
  box-shadow: 0 0 1rem 0 rgba(140, 152, 164, 0.25);
}

.form-switch {
  padding-left: 3em;
}
.form-check-input {
  margin-top: 0.4em;
}
.form-check-input:checked {
  background-color: var(--dark-text-color);
  border-color: var(--dark-text-color);
}
.form-control.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.input-group .form-control {
  border-color: rgba(0, 0, 0, 0.2);
}

/* btn + alignment
 =================================================================== */

.btn:empty {
  min-width: 50px;
}
.btn:empty:after {
  content: '______';
  color: transparent;
}

.btn-block .btn {
  width: 100%;
}

.nav {
  --bs-nav-link-color: var(--dark-text-color);
  --bs-nav-link-hover-color: var(--bs-dark);
}

/* slim-nav adaptions
 =================================================================== */

.slim-nav {
  &:after {
    display: none !important;
  }
  .navbar-brand {
    height: 55px;
    margin: 0;
    padding: 0 5px 0 0;
    box-shadow: none;
  }
  .navbar-brand-logo {
    max-height: 100%;
    max-width: 155px;
    min-height: 45px;
  }
  .navbar-meta .nav-link {
    padding: 17px;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  .navbar-meta .navbar-nav.me-auto .nav-link {
    font-size: 1rem;
    padding: 14px;
  }
}

@media (max-width: 991px) {
  .slim-nav {
    .navbar-brand {
      height: 45px;
    }
  }
}

/* navbar
 =================================================================== */

.dropdown-toggle:after {
  display: inline-block;
  font-style: normal;
  font-weight: 500 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  font-family: bootstrap-icons !important;
  border: none;
  content: '\f282';
  margin-left: 0.6em;
  transition: transform 0.3s ease-in-out;
}
.dropdown-toggle.show:after {
  transform: rotate(-180deg);
}

.dropdown-item,
.nav-link {
  font-family: var(--jr-headline-font-family), sans-serif;
  font-weight: var(--jr-headline-font-weight);
}
.dropdown-item {
  color: var(--bs-dropdown-link-color) !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color) !important;
}
section.bg-primary {
  .dropdown-item.active,
  .dropdown-item:active {
    background: var(--bs-secondary);
    color: var(--bs-secondary-text-color) !important;
  }
}

.navbar-brand {
  margin: 0 5px -10px 0;
  padding: 5px 15px;
  background: #fff;
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  box-shadow: var(--jr-box-shadow);
  align-self: stretch;
  display: flex;

  &:empty {
    min-width: 100px;
  }
}

.navbar-brand-logo {
  margin: auto;
  max-width: 135px;
  max-height: 81px;
  min-height: 37px;
  object-fit: contain;
  width: min-content;
}
.navbar {
  padding: 0;
}
.navbar-nav.border-left .nav-item {
  border-left: 1px solid var(--border);
}
.navbar-nav.border-left .nav-item:first-child {
  border: none;
}
.navbar-collapse {
  display: flex;
  flex-flow: column;
  width: 100%;
  .nav-bordered {
    margin: 0;
    border-bottom: 1px solid var(--border);
  }
}
.navbar-landing,
.navbar-meta,
.navbar-main {
  display: flex;
  width: 100%;
}
.navbar-meta {
  position: relative;
  .dropdown-menu {
    right: 0;
    left: auto;
  }
  .nav-link {
    font-size: 0.75rem;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
  }
  .nav-link.active,
  .nav-link:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
  }
  .nav-link.btn,
  .nav-link.btn:focus {
    border: none;
    background: var(--bs-primary);
    color: var(--bs-primary-text-color);
    line-height: var(--bs-body-line-height);
    padding: var(--bs-nav-link-padding-y);
  }
  .nav-link.btn:hover {
    background: var(--bs-primary-lighten);
  }
  .nav-link.btn:active {
    background: var(--bs-primary-darken);
  }
  .profile-img {
    object-fit: cover;
    border-radius: var(--bs-border-radius);
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    margin: -5px 0 -5px -5px;
  }
}

.navbar-main {
  .nav-link {
    font-size: 1rem;
  }

  .form-control {
    font-size: 0.8rem;
    height: 100%;
  }
  .form-control:focus {
    background-color: var(--light-grey);
    box-shadow: 0 0 0 1px var(--bs-primary) inset;
  }
}

.navbar-meta {
  .form-control {
    font-size: 0.8rem;
    height: 100%;
    height: 37px;
  }
  .form-control:focus {
    background-color: var(--light-grey);
    box-shadow: 0 0 0 1px var(--bs-primary) inset;
  }
}

.navbar-landing {
  .nav-link {
    font-size: 1rem;
    font-weight: var(--jr-headline-font-weight);
  }
}
// -- second line in items -- //

.nav-link-extended {
  display: inline-block;
  height: 36px;
  overflow: hidden;
  margin: -16px 0;
  span {
    display: block;
    line-height: 18px;
  }
  span.text-meta {
    color: var(--dark-text-color);
    font-size: 9px;
    line-height: 12px;
    font-weight: var(--jr-headline-font-weight);
    opacity: 0.9;
  }
}

//-- dropdown menu --//

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-spacer: 0;
  --bs-dropdown-font-size: 0.875rem;
  --bs-dropdown-color: var(--dark-grey);
  --bs-dropdown-bg: #fff;
  --bs-dropdown-border-color: rgba(0, 0, 0, 0.05);
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: 0;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: var(--dark-grey);
  --bs-dropdown-link-hover-color: var(--dark-grey);
  --bs-dropdown-link-hover-bg: var(--middle-grey);
  --bs-dropdown-link-active-color: var(--bs-primary-text-color);
  --bs-dropdown-link-active-bg: var(--bs-primary);
  --bs-dropdown-link-disabled-color: var(--middle-grey);
  --bs-dropdown-item-padding-x: 0.5rem;
  --bs-dropdown-item-padding-y: 0.35rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid var(--middle-grey);
}

.nav-link i,
.dropdown-item i {
  margin-right: 6px;
}

/* ============ mobile view ============ */

@media (max-width: 991px) {
  header .navbar-collapse {
    flex-flow: column-reverse;
  }
  .navbar-main {
    flex-flow: column-reverse;
  }
  .navbar-meta {
    flex-flow: column;
  }
  .navbar-meta,
  .navbar-main {
    margin-top: 12px;

    .navbar-nav {
      margin: 0 !important;
    }
    .navbar-nav.border-left {
      .nav-item {
        border: none !important;
      }
    }
    .navbar-nav .dropdown-menu {
      box-shadow: none;
      border: none;
    }

    .nav-link,
    .dropdown-item {
      padding: 0.375rem;
      &:hover {
        background: var(--middle-grey);
      }
      &.active {
        background: var(--bs-primary);
        color: var(--bs-primary-text-color);
      }
    }
  }

  .form-control {
    background-color: var(--light-grey);
  }
}

/* navbar-toggler
 =================================================================== */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler,
.navbar-toggler.collapsed {
  padding: 0;
  height: 34px;
  position: relative;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.navbar-toggler.collapsed .navbar-toggler-icon,
.navbar-toggler.collapsed .navbar-toggler-icon:after {
  background: none;
  height: 3px;
  border-radius: calc(0.15 * 45px);
  background-color: #50585d;
  transition: all 0.25s ease-in-out;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  width: calc(0.75 * 45px);
  transform: translateY(calc(-0.125 * 45px));
}
.navbar-toggler.collapsed .navbar-toggler-icon:after {
  position: absolute;
  width: calc(0.375 * 45px);
  transform: translateY(calc(0.25 * 45px));
  content: '';
}
.navbar-toggler .navbar-toggler-icon,
.navbar-toggler .navbar-toggler-icon:after {
  height: 4px;
  border-radius: calc(0.15 * 45px);
  background-color: #50585d;
  transition: all 0.25s ease-in-out;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: translateY(0px) rotate(45deg);
  height: 3px;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon:after {
  position: absolute;
  content: '';
  width: 31px;
  height: 3px;
  transform: translatex(-15px) rotate(-90deg);
}
@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}

/* nav sidebar + navbar-toggler
 ================================================== */

header .navbar.navbar-expand-lg {
  display: flex;
}
.navbar.navbar-expand-lg {
  display: block;
}
.navbar-toggler.btn {
  font-size: 0.9rem;
  line-height: 1;
  color: var(--bs-navbar-color);
  background: #fff;
  box-shadow: var(--jr-box-shadow);
}
.navbar-toggler .navbar-toggler-toggled {
  display: none;
}
.navbar-toggler .navbar-toggler-default {
  display: flex;
}
.navbar-toggler[aria-expanded='true'] .navbar-toggler-default {
  display: none;
}
.navbar-toggler[aria-expanded='true'] .navbar-toggler-toggled {
  display: flex;
}

.nav-bordered {
  background: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  overflow: hidden;
  width: 100%;
}

.nav-bordered li:first-child {
  border: 0px;
}
.nav-bordered li,
.nav-bordered li .nav-bordered li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--border);
}

.nav-bordered li a {
  font-size: 14px;
  padding: 8px 15px;
  margin: 0;
  color: var(--bs-nav-link-color) !important;
  display: flex;
}

.nav-bordered li .dropdown-toggle.nav-link {
  margin: auto 5px auto -10px;
  &::after {
    font-size: 12px;
    transform: rotate(-90deg);
  }
  &.show::after {
    transform: rotate(0deg);
  }
}

.nav-bordered li li .dropdown-toggle.nav-link {
  margin: auto 5px auto -5px;
}

.nav-bordered li a:hover + .dropdown-toggle.nav-link,
.nav-bordered li.active > .dropdown-toggle.nav-link {
  color: var(--light-text-color);
}

.nav-bordered li.active > a {
  background: var(--bs-primary);
  color: var(--bs-primary-text-color) !important;
}

.nav-bordered li.active:has(li.active) > a:not(:hover) {
  background: inherit;
  color: inherit !important;
}

.nav-bordered li a:hover,
.nav-bordered li a:active {
  background: var(--bs-primary-lighten);
  color: var(--bs-primary-text-color) !important;
}

.nav-bordered li a .bi {
  font-size: 1.2rem;
  margin: auto 8px auto 0;
  display: flex;
  flex-grow: 0;
}
.nav-bordered li a span {
  line-height: 1.5;
}

.nav-bordered li ul {
  background: rgba(0, 0, 188, 0.04);
  margin: 0;
  padding: 0;
}

.nav-bordered li ul a {
  font-size: 12px;
  padding: 5px 10px 5px 25px;
  margin: 0;
  display: flex;
  .bi {
    font-size: 12px;
  }
}
.nav-bordered li ul ul a {
  padding: 5px 10px 5px 40px;
}
.navbar-toggler.collapsed .bi-list:before {
  content: '\f479';
}

.navbar-toggler .bi-list:before {
  content: '\f659';
}
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-bordered li a .bi {
    display: none;
  }
}

/* single dropdown
 =================================================================== */

.navbar-single {
  .nav-item {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    .nav-link {
      padding: 5px 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
  .dropdown-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }

  .text-center .dropdown-menu {
    right: 50% !important;
    left: 50% !important;
    transform: translate3d(-50%, 40px, 0px) !important;
  }

  .text-end .dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
}

/* .nav-pills
 =================================================================== */

.nav-pills {
  --bs-nav-pills-border-radius: 0;
  --bs-nav-pills-link-active-color: var(--bs-primary-text-color);
  --bs-nav-pills-link-active-bg: var(--bs-primary);
}
.nav-pills .nav-link {
  padding: 4px 8px;
}
.nav-pills .nav-link.active {
  border: 1px solid var(--bs-primary-text-color);
}

/* list details
 =================================================================== */

.list-label {
  text-transform: uppercase;
  font-weight: var(--bs-body-font-weight);
  font-size: 0.65rem;
  display: block;
  opacity: 0.6;
}
.list-value {
  display: block;
  margin: 0;
}

/* breadcrumb
 =================================================================== */

.breadcrumb-item {
  color: var(--dark-headline-text-color);
  font-family: var(--jr-headline-font-family), sans-serif;
  font-weight: var(--jr-headline-font-weight);
  font-size: 14px;

  &.active {
    color: var(--bs-primary);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: bootstrap-icons !important;
  content: '\f285';
}

/* contrast mode - CSS for more contrast
 =================================================================== */
@media (prefers-contrast: more) {
  :root {
    --light-grey: #eee;
    --middle-grey: #e3e3e3;
  }
  main {
    background: var(--light-grey);
  }
  .Toastify__toast,
  .navbar-toggler.btn,
  .form-control,
  .form-select,
  .card,
  .editor-img,
  .box-comment .avatar img,
  .box-attachment {
    border: 1px solid #777;
  }
  .form-control.drag-active,
  .form-control:focus {
    border: 1px solid var(--bs-primary);
  }

  footer {
    border-top: 1px solid #777;
  }
  .text-muted {
    opacity: 0.9;
  }

  .btn-outline-secondary {
    --bs-btn-color: hsl(from var(--bs-secondary) h s calc(l - 8));
    --bs-btn-border-color: hsl(from var(--bs-secondary) h s calc(l - 8));
  }

  .box-comment .card {
    position: relative;
    overflow: visible;

    &:after,
    &:before {
      right: 100%;
      top: 20px;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(119, 119, 119, 0);
      border-right-color: #777;
      border-width: 11px;
      margin-top: -11px;
    }
  }

  .box-comment.staff .card,
  .box-comment.colleague .card {
    position: relative;
    overflow: visible;

    &:after,
    &:before {
      left: 100%;
      top: 20px;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #fff;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(119, 119, 119, 0);
      border-left-color: #777;
      border-width: 11px;
      margin-top: -11px;
    }
  }
}
