// --------------------------------------------------------------- //
// In-place editing styles adaptions
// --------------------------------------------------------------- //

[contenteditable]:focus-within {
  text-transform: none;
}

.img-flag[data-scrivito-image-placeholder] {
  min-height: unset !important;
  width: 17px !important;
}
