// --------------------------------------------------------------- //
// In-place editing styles adaptions
// --------------------------------------------------------------- //

[contenteditable]:focus-within {
  text-transform: none;
}

// TODO: Remove workaround for issue #11731
.img-flag[data-scrivito-image-placeholder] {
  min-height: unset !important;
  opacity: 0 !important;
  width: 17px !important;
}

.scrivito_editing_active ::selection {
  background: #507ab5 !important;
  color: #fff !important;
}
.scrivito_editing_active .gle ::selection {
  background: transparent !important;
  color: inherit !important;
}
