@import 'vendor/bs5/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@justrelate/icon-picker/ScrivitoIconPicker.css';

// --------------------------------------------------------------- //
// general styles adaptions
// --------------------------------------------------------------- //
@import 'scrivito-neoletter-form-widgets/editing.css';
@import 'scrivito-pisasales-questionnaire-builder/editing.css';

:root {
  --jr-grey-dark: #111418;
  --jr-grey-middle: #1d2229;
  --jr-grey-light: #272d37;
  --jr-grey-light-hover: #3a4353;

  --jr-blue: #426698;
  --jr-blue-light: #507ab5;
}

html,
body {
  background: unset;
  padding: 0;
  margin: 0;
}

.scrivito_dark {
  background: var(--jr-grey-middle);

  [data-scrivito-editors-placeholder]:empty:not(:focus):before {
    color: #aaa !important;
  }

  &.scrivito_detail_content,
  .scrivito_detail_content {
    padding: 7px;

    .row {
      --bs-gutter-x: 7px;
    }
  }
}

// --------------------------------------------------------------- //
// editor styles adaptions
// --------------------------------------------------------------- //

.scrivito_detail_content {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 15px;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.scrivito_detail_content:first-of-type {
  border: none;
}

.scrivito_detail_content .scrivito_disabled {
  opacity: 0.7;
}

.scrivito_detail_label {
  display: block;
  padding: 0;
  width: 100%;
}
.scrivito_detail_label span {
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 3px 6px 3px;
}
.scrivito_notice_body {
  color: #666;
  font-weight: bold;
  font-size: 12px;
  padding: 0 0 10px;
}
.scrivito_notice_body:empty {
  padding: 0;
}

.scrivito_dark {
  .scrivito_detail_label span {
    font-size: 11px;
    color: #eee;
    text-shadow:
      0 1px 1px rgba(0, 0, 0, 0.3),
      0 0 4px rgba(0, 0, 0, 0.2);
  }
  .scrivito_notice_body {
    color: #aaa !important;
  }
}

.scrivito_editing_active ::selection {
  background: #507ab5 !important;
  color: #fff !important;
}
.scrivito_editing_active .gle ::selection {
  background: transparent !important;
  color: inherit !important;
}
