// --------------------------------------------------------- //
// scrivito_switch
// --------------------------------------------------------- //

.scrivito_switch {
  display: inline-table;
  position: relative;
  vertical-align: top;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
  margin: 3px 4px 3px 0;
  cursor: pointer;
  background: #cfcfcf;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  border-collapse: collapse;
  user-select: none;
  transition: all 0.3s ease;
}
.scrivito_switch:hover {
  background: #d3d3d3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25) inset;
}
.scrivito_switch:has(input:disabled) {
  cursor: default !important;
}
.scrivito_switch .cell {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  min-width: 50px;
  width: 50%;
  margin: 2px;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  padding: 6px 15px;
  line-height: 16px;
  transition: color 0.2s ease;
}
.scrivito_switch .pill-wrapper {
  display: table-row;
}
.scrivito_switch .pill {
  position: absolute;
  background: #fafafa;
  left: 0;
  margin-left: 2px;
  transition: left 0.3s ease;
}
.scrivito_switch.active .pill {
  background: #426698;
  left: 50%;
  margin-left: -2px;
}
.scrivito_switch.active:hover .pill {
  background: #426698;
  color: #fff;
}

.scrivito_switch .left {
  color: #555;
}
.scrivito_switch.active .left {
  color: #666;
}
.scrivito_switch .right {
  color: #666;
}
.scrivito_switch.active .right {
  color: #fff;
}

//-- two_valued --//

.scrivito_switch.two_valued {
  .pill,
  &.active .pill,
  &.active:hover .pill {
    background: #426698;
  }
  .left {
    color: #fff;
  }
  &.active .left {
    color: #666;
  }
}

//-- scrivito_disabled --//

.scrivito_disabled .scrivito_switch {
  cursor: default !important;
}
.scrivito_disabled .scrivito_switch.active .pill {
  background: #555 !important;
  color: #fff !important;
}

// -- scrivito_dark adaptons -- //

.scrivito_dark {
  .scrivito_switch {
    background: #3a3a3a;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4) inset;
  }
  .scrivito_switch .left,
  .scrivito_switch.active .right {
    color: #eee;
  }
  .scrivito_switch .right,
  .scrivito_switch.active .left {
    color: #999;
  }

  .scrivito_switch .pill {
    background: #5f5f5f;
  }
  .scrivito_switch.active .pill {
    background: #426698;
  }

  .state_before .scrivito_switch.active .pill {
    background: #777;
  }
  .scrivito_switch.two_valued {
    .pill,
    &.active .pill,
    &.active:hover .pill {
      background: #426698;
    }
  }
}
